* {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    background-color: #060d1c;
    color: #f3f5fa;
}

a:link,
a:visited {
    color: #4f97f3;
}

a:hover {
    color: #3c72bb;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
}

#navlist {
    display: flex;
    gap: 1.5rem;
}