* {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    background-color: #060d1c;
    color: #d8dce0;
}
html{
        scroll-behavior: smooth;
}

a:link,
a:visited {
    color: #5e9df0;
}

a:hover {
    color: #3c72bb;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
}

#navlist {
    display: flex;
    gap: 1.5rem;
}
pre{
    white-space:pre-wrap;
}

#home{
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about{

}
.links{
    display: flex;
    gap: 2rem;
}
h1,h2{
    color: white;
}
p{
    
}