* {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    color: #d8dce0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: #060d1c;
}

body {
    margin: 0;
    padding: 0;
}

a:link,
a:visited {
    color: #5e9df0;
}

a:hover {
    color: #3c72bb;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 1rem;
    border-bottom: 1px solid #5e9df0;
    bor
}

nav a {
    color: black;
    text-decoration: none;
}

#navlist {
    display: flex;
    gap: 1.5rem;
}

pre {
    white-space: pre-wrap;
}

#home {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 1px solid #5e9df0;
}

#about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(0, 12, 46);
    border-bottom: 1px solid #5e9df0;
    padding: 1rem 1rem;
}

#about h2 {
    margin: 0;
}

#about pre {
    margin: 0;
}

.links {
    display: flex;
    gap: 2rem;
}

h1,
h2 {
    color: white;
}
#contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid #5e9df0;
    padding: 1rem 1rem;
}
#contact h2{
    margin:  0;
}

#contact form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0 1rem;
}

#contact form input,
#contact form textarea {
    background-color: #0d1a2d;
    outline: none;
    border: 1px inset #d8dce0;
}

footer{
    display: flex;
    justify-content: center;
}
footer p{
    color: #2f3644;
    font-size: 0.75rem;
}